/*
/objects
/tests/*/objects
/tests/*/*
/*/*.swp
/tests/*/source/*.swp
/tests/*/include/*.swp
!/source
!/include
!/Makefile
!/.gitignore

!/tests
!/tests/*.sh
!/tests/Makefile
!/tests/*/source
!/tests/*/include
!/tests/*/Makefile
